<div mat-dialog-title>
  <h1>Build Form</h1>
</div>
<form [formGroup]="buildForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input
          matInput
          type="text"
          placeholder="First Name"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Mother Board</mat-label>
        <mat-select formControlName="motherboard">
          <mat-option *ngFor="let val of motherboard" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Processor</mat-label>
        <mat-select formControlName="processor">
          <mat-option *ngFor="let val of processor" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>ram</mat-label>
        <mat-select formControlName="ram">
          <mat-option *ngFor="let val of ram" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Graphics Card</mat-label>
        <mat-select formControlName="graphics">
          <mat-option *ngFor="let val of graphics" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="btns">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
